#na{
    padding:2% 2%;
}
w
.navbar-brand{
    font-family:'ubuntu';
   
    line-height:rem;
  
 }

 #text{
    text-align: center;
 }

 #second{
    padding:5% 25%;
    background-color:rgb(238, 236, 236);
   
 }
 #third{
    padding:5% 6%;    
 }
 #cardi{
    background-color:black;
    opacity:0.9;
    box-shadow: 0 4px 8px 0 rgba(16, 12, 15, 0.2), 0 6px 20px 0 rgba(18, 19, 18, 0.9);
 }
 h1{
    text-align:center;
    /*color:darkgreen;*/
 }
 #select{
    padding-bottom:6rem;
    text-align: center;
    color:rgb(75, 4, 75);
 }

 #fill5{
   font-size:1.5rem;
   font-family:'Montserrat';
  
}

#fourth{
   padding:2% 9%;
   background-color:aliceblue;

}
#secfirst{
   padding:4% 7%;
  
}
#ca{
   background-color:black;
   box-shadow: 0 4px 8px 0 rgba(228, 10, 155, 0.2), 0 6px 20px 0 rgba(18, 18, 19, 0.9);
}
#ca1{
   background-color:black;
   box-shadow: 0 4px 8px 0 rgba(228, 10, 155, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
h2{
   text-align:center;
   color:rgb(235, 136, 37);
}
#firstsec1{
   padding:3% 6%;
}
#firstsem{
   padding:5% 15%;
}
#firstca{
   box-shadow: 0 4px 8px 0 rgba(5, 3, 4, 0.2), 0 6px 20px 0 rgba(16, 13, 12, 0.9);
   
}

#b1:hover{
  color:rgb(5, 5, 67);
}

#syl1{
   padding:2% 11%;
   background-color:mintcream
}
#sub1{
   background-color:lavender;
   padding:3% 8%;
   box-shadow: 0 4px 8px 0 rgba(15, 11, 14, 0.2), 0 6px 20px 0 rgba(26, 14, 6, 0.9); ;
}

#subjects{
  font-size: xx-large;
  color:darkslateblue;
  
}
#s{
   font-size:60px;
   color:rgb(214, 118, 50);
   letter-spacing: 1px;
}
#pages{
   padding:3% 41%;
   
}
#web{
   padding:2% 6%;
}
#webhead{
   text-transform: capitalize;
   font-size: xx-large;
}
#bioche{
   padding:2% 6%;
}
#biohead{
   text-transform: capitalize;
   font-size: xx-large;
}
#alg{
   padding:2% 6%;
}
#alghead{
   text-transform: capitalize;
   font-size: xx-large;
}
#co{
   padding:2% 6%;
}
#cohead{
   text-transform: capitalize;
   font-size: xx-large;
}
#cpp{
   padding:2% 6%;
}
#cpphead{
   text-transform: capitalize;
   font-size: xx-large;
}
#pop
{
   padding:2% 39%;
}
#fscse:hover{
   color:rgb(0, 70, 30);
   

}
#sscse:hover{
   color:rgb(2, 68, 30);
   bu

}
#todo:hover{
   background-color:rgb(211, 152, 41);
   border-radius:6px;
   color:black;
}
#togg:hover{
   background-color:rgb(218, 187, 35);
   border-radius:6px;
   color:black;
}
/*h1{
   color:rgb(211, 152, 41)
}*/
h4{
   color:white;
   padding:3% 2%;
   font-size:x-large;
}
#abouttext{
   font-size:xx-large;
   padding:2% 2%;
   opacity:0.6;
   color:antiquewhite;
}
#tit{
   letter-spacing: 1px;
   color:antiquewhite;
   font-weight: 600;
}
#tit:hover{
   color:ghostwhite;
}
.fa-ticket{
   color:thistle
}
.fa-ticket:hover{
   color:mediumvioletred
}

.las{
   padding:5px;
}
#pages{
   background-color;
}
.page-item:hover{
     color:rgb(218, 187, 35);
}

.chat-icon{
   right:30px;
   position:fixed;
   bottom:0;
   z-index: 1000;
   cursor:pointer;
   color:rebeccapurple;
}
.chat-box{
   position:fixed;
   right:15px;
   height:600px;
   width:400px;
   bottom:80px;
   background-color:bisque;
   border-radius: 16px;
   z-index:1000;
   transition: ease out;
   transform:scaleY(0);
}
.chat-box.active{
   transform:scaleY(1);
}
.hidden{
   display:none !important;
}